{% extends 'base.html.twig' %}

{% block title %}
	Products list
{% endblock %}


{% block body %}

	<div class="card mx-5 mt-4" style="width: 18rem;">
		<div class="card-body">
			<h2 class="card-title">{{ product.Name }}</h2>
			<ul>
				{# <li>{{ product.visible }}</li> #}
				<li>{{ product.Pbt }}</li>
				<a href="{{ path('category_item',{ 'id': product.category.id })}}">
					{{product.category.getTitle()}}</a>
				{# <li>{{ product.category.getTitle() }}</li> #}
			</ul>
			<p>{{ product.Description }}</p>
		</div>
	</div>
{% endblock %}
