{% extends 'base.html.twig' %}

{% block title %}
	Products list
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Product list</h1>
		<a href="{{ path('newProduct') }}" class="btn btn-primary">Create a product</a>

		<div class="count mt-4">
			<h3>There are
				{{ products.getTotalItemCount }}
				products.</h3>
		</div>
		<div class="row mt-4">
			{% for product in products %}
				<div class="col-md-4 mb-3">
					<div class="card">
						<div class="card-body">
							<h2>
								<a href="{{ path('product_item', { 'id':product.id})}}">{{ product.Name }}
								</a>
							</h2>
							{# <a href="{{ path('category_item',{ 'id': article.category.id })}}"> {{article.category.getName()}}</a> #}
							<p>{{ product.PBT }}</p>
							<p>{{ product.dateCreated|date('m/d/Y') }}</p>
							<a href="{{ path('product_edit', { id: product.id }) }}" class="btn btn-info">Edit</a>
							<a href="{{ path('product_delete', { id: product.id }) }}" class="btn btn-warning">Delete</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(products) }}
			</div>
		</div>
	</div>


{% endblock %}
